@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Share+Tech&display=swap');
@import "../styles/variables.scss";


html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: $background;
    font-family:$font-stack!important;

}

a{
    text-decoration: none!important;
}

li{
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
}