@import "../styles/variables.scss";

%section{
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: $background;
  color: $primary-font-color;
}

%full-screen-fixed {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}


// mixin for commion styles

@mixin flex-center($direction: row){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin button-links {
  position: relative;
  padding: 0.75rem 1.75rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid $primary-font-color;
  border-radius: 50px;
  background-color: transparent;
  color: $secondary-font-color;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}