$font-stack: 'Share Tech', sans-serif;
$background: rgb(13, 13, 13);
$background-alt: rgb(31, 31, 31);
$input-bg: lighten($background-alt, 20%);
$primary-font-color: rgb(0, 255, 213);
$secondary-font-color: rgba(88, 252, 213, 0.541);
$box-shadow: 2px 4px 12px $primary-font-color;