@import "../../styles/mixins.scss";
@import "../..//styles/variables.scss";

.nav-container{
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    transition:  backdrop-filter 0.3s ease;

    &.scrolled {
       -webkit-backdrop-filter: blur(16px);
       backdrop-filter: blur(16px);
    }

    .nav-left{
        padding-left: 20px;
        span{
            color: $primary-font-color;
        }
        .last-name{
            color: $secondary-font-color;
        }
    }

    .nav-right {
        width: 600px;

        
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;

            li{
                font-weight: 300;
                a{
                       color: $secondary-font-color;
                       transition: all 0.5s ease;
                       
                }
                :hover{
                        background-color: $secondary-font-color;
                        padding: 8px 16px;
                        border-radius: 12px;
                        color: $primary-font-color;
                }
                &.active{
                    >a{
                        background-color: $secondary-font-color;
                        padding: 8px 16px;
                        border-radius: 12px;
                        color: $primary-font-color;
                    }

                }
            }
        }
    }   
}