@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.wrapper {
  .container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;

    input {
      display: none;
    }

    .card {
      width: 70px;
      border-radius:8px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      overflow: hidden;
      margin: 0 10px;
      display: flex;
      align-items: flex-end;
      transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);

      @include sm{
        width: 50px;
      }

      .row {
        display: flex;
        flex-wrap: nowrap;

        .icon {
          background-color: black;
          color:$primary-font-color;
          border-radius: 50%;
          width: 22px;
          height: 22px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 15px;

             @include sm{
              width: 18px;
              height: 18px;
              margin: 5px;
      }
        }
      }
    }

    input:checked + .card {
      width: 700px;

      .description {
        opacity: 1 !important;
        transform: translateY(0) !important;
      }
    }
  }
}
