@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

#home {
    .video-container {
        position: relative;
        z-index: -1;
        height: 100vh;
        @include flex-center;

        video {
            @extend %full-screen-fixed;
            object-fit: cover;
        }
    }

    .overlay {
        @extend %full-screen-fixed;
        @include flex-center;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);


        h2 {
            position: relative;
            z-index: 10;
            color: $primary-font-color;
            font-size: clamp(2rem, 5vw, 3rem);
            font-weight: 600;
            animation: pulse 1.5s ease-in-out infinite alternate;
        }

        p {
            position: relative;
            z-index: 10;
            color: $primary-font-color;
            font-weight: 100;

            @include xs{
                width: 30ch;
            }
        }

        .hero-buttons {
            display: flex;
            gap: 1.5rem;
            margin-top: 1rem;
            font-weight: 100;
            z-index: 10;

            @include xs {
                flex-direction: column;
            }


            a {
                @include button-links;

                     @include xs {
                        padding: 10px 15px;
                        font-size: 0.8rem;
            }


                &:hover {
                    color: $primary-font-color;
                    box-shadow: $box-shadow;
                    transform: translateY(-3px);
                }

                &:active {
                    transform: translateY(0);
                    box-shadow: none;
                }
            }
        }
    }
}

@keyframes pulse {
    from{
        color: $secondary-font-color;
    }
    to{
        color: $primary-font-color;
         text-shadow:$box-shadow;
    }
}