@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


#contact {
    @extend %section;
    min-height: 100vh;
    padding-top: 10vh;
    
    .contact-title{
            text-align: center;
            font-size: 2rem;
      
    }
    

    .contact-container{
        display: flex;

        @include md {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .contact-left{
            flex:1;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 10vh;

           .contact-info{
            display: flex;
            flex-direction: column;
            padding-top: 10vh;

            @include sm {
                padding-top: 5vh;
            }
            .contact-info-box{
                display: flex;
                align-items: center;
                
                .contact-info-details{
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    color: $secondary-font-color;
                }
            }
           }
        }
        .contact-right{
            flex:1;
            @include flex-start;
            padding-top: 10vh;
            
            @include lg{
                margin-right: 3rem;
            }
            @include md{
                margin-right: 0rem;
            }
            form {
                background-color: $background-alt;
                width: 700px;
                padding: 20px;
                border-radius: 8px;
                font-size: 1rem;

                @include xl {
                    width: 600px;
                }
                @include lg {
                    width: 500px;
                }
                @include md {
                    width: 700px;
                }
                @include sm {
                    width: 600px;
                }
                @include xs {
                    width: 350px;
                }
                .grid-container {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 20px;

                    .form-group {
                        display: flex;
                        flex-direction: column;

                        label {
                            color: $primary-font-color;
                            margin-bottom: 5px;
                        }

                        input {
                            @extend %contact-input;

                            @include sm {
                                width: 100%;
                            }

                            &:focus {
                                        outline: 1px solid $secondary-font-color;
                                background-color: darken($input-bg, 10%);
                            }
                        }
                    }
                }

                .message {
                    label {
                        position: relative;
                        top: 15px;
                          color: $primary-font-color;
                    }

                    textarea {
                        @extend %contact-input;
                        box-sizing: border-box;
                        width: 100%;
                        margin: 20px 20px 0 0;
                        height: 200px;
                        resize: vertical;



                        &:focus {
                            outline: 1px solid $secondary-font-color;
                            background-color: darken($input-bg, 30%);
                        }
                    }
                }

                button {
                    width: 100%;
                    padding: 15px;
                    background-color: $secondary-font-color;
                    border-radius: 8px;
                    color: $background;
                    font-size: 1.2rem;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    margin-top: 20px;

                    &:hover {
                      background-color: $primary-font-color;
                    
                    }
                }
                .success-message{
                    color: $primary-font-color;
                }
                .error-message{
                    color: red;
                }
            }
        }
    }
}
