  .carousel-item {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      border-radius: 8px; 
      transition: transform 0.3s ease;
      filter: grayscale(100%);

      &:hover {
        transform: scale(1.05); 
      }
    }
  }